.rank-list-container{
	padding: 0 20px;
}
.rank-list-container .top{
	width: 100%;
	height: 137px;
	overflow: hidden;
	background: url('./bg1.jpg') no-repeat left top #fffcf4;
	background-size: 100% 100%;
}
.rank-list-container .top img{
	width: 452px;
	display: block;
	margin: 50px auto 0;
}
.rank-list-container .center{
	overflow: hidden;
	background: url('./bg2.jpg') repeat-y left top #fffcf4;
	background-size: 100% auto;
}
.rank-list-container .center .tips{
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	color: #515151;
}
.rank-list-container .center .tips span{
	display: block;
	width: 10px;
	height:10px;
	background-color: #515151;
	border-radius: 5px;
	margin-right: 20px;
}
.rank-list-wrapper{
	width: 628px;
	margin: 0 auto;
}
.title{
	display: flex;
	height: 78px;
	border-bottom: 1PX solid #7d7c7a;
}
.title p{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: #7d7c7a;
	font-size: 28px;
}
.lists{
	width: 100%;
	max-height: 720px;
	overflow: hidden;
}
.lists li p:first-child,
.title p:first-child{
	flex:0 0 100px;
}
.lists li p:nth-of-type(2),
.title p:nth-of-type(2){
	flex:0 0 220px;
	justify-content: center;
}
.lists li p:last-child,
.title p:last-child{
	flex:1;
	justify-content: flex-end;
}
.rownum-icon span{
	display: flex;
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	border:1PX solid #7b7b7b;
	border-radius: 50px;
	background-color: #cecece;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	font-weight: 900;
	color: #7b7b7b;
	line-height: 50px;
}
.first-icon span{
    color: #dd4d0b;
    background-color: #ffb014;
    border-color: #dd4d0b;
}
.second-icon span{
    color: #52a3be;
    background-color: #cbf2ff;
    border-color: #52a3be;
}
.third-icon span{
    color: #ac7320;
    background-color: #e6c595;
    border-color: #ac7320;
}
.lists li{
	display: flex;
	height: 90px;
	border-bottom: 1PX dashed #cdcac5;
	box-sizing: border-box;
}
.lists li p{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: #383838;
	font-size: 28px;
}
.lists li p:last-child{
	padding-right: 50px;
}
.see-more{
	padding-top: 22px;
	text-align: center;
}
.see-more a{
	color: #af6c2b;
	font-size: 24px;
	text-decoration: underline;
}
.my-money-wrapper{
	padding-top: 50px;
}
.my-money-wrapper h2{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 24px;
	color: #4c4c4b;
}
.my-money-wrapper span{
	width: 28px;
	height: 26px;
	flex: 0 0 28px;
	background: url('./star.png') no-repeat center;
	background-size: 100% 100%;
	margin-right: 14px;
}
.my-money-wrapper b{
	font-size: 32px;
}
.know-wrapper{
	display: flex;
	width: 628px;
	margin: 60px auto 0;
}
.know-wrapper button{
	flex:1;
	height: 90px;
	border: 1px solid #f78534;
	border-radius: 45px;
}
.know-wrapper button:first-child{
	margin-right: 28px;
	font-size: 36px;
	color: #f78534;
}
.know-wrapper button:last-child{
	margin-right: 28px;
	font-size: 36px;
	color: #fff;
	background: #f78534;
}