.loading{
	display: none;
}

.loadContent{
	width:.75rem;
	height:.75rem;
	border-radius:.08rem;
	text-align:center;
	position: fixed;
	z-index:100000;
	margin-left:-.35rem;
	left:50%;
	top:36%;
	/* background:rgba(0,0,0,0.7); */
}

.loadingMask{
	width:100%;
	height:100%;
	background:rgba(255,255,255,0);
	z-index:99999;
	position: fixed;
	left:0;
	top:0;
}

.loadingBg{
	background-repeat:no-repeat;
	background-position: center center;
/*	background-size: 100%  auto;*/
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;	
}

.loadingBg{
	background-image:url(loading_01.png) no-repeat;
    background-size: contain;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
	-webkit-animation:loop 1s infinite linear;
}




@-webkit-keyframes loop{
	10%{
		background-image:url(loading_02.png);
	}
	20%{
		background-image:url(loading_03.png);
	}
	30%{ 
		background-image:url(loading_04.png);
	}
	40%{
		background-image:url(loading_05.png);
	}
	50%{
		background-image:url(loading_06.png);
	}
	60%{ 
		background-image:url(loading_07.png);
	}
	70%{
		background-image:url(loading_08.png);
	}
	80%{
		background-image:url(loading_09.png);
	}
	90%{
	    background-image:url(loading_10.png);
	}
	100%{
	   background-image:url(loading_01.png);
	}
}