.scrollBar{
    position: absolute;
    z-index: 9999;
    width: 7px;
    bottom: 2px;
    top: 2px;
    right: 1px;
    overflow: hidden;

}

.scrollBar p{
    box-sizing: border-box;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.901961);
    border-radius: 3px;
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.498039);
    opacity: 0;
    -o-transition: opacity 2s; 
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}